<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--<ul>-->
    <!--<%for(var i=0;i<lists.length;i++){%>-->
    <!--<li><a href="/show/<%=lists[i].id%>"><%=lists[i].atitle%></a></li>-->
    <!--<%}%>-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>列表页</title>
    <link rel="stylesheet" href="http://localhost:8090/css/common.css">
    <link rel="stylesheet" href="http://localhost:8090/css/app2.css">
    <script src="http://localhost:8090/js/jquery.js"></script>
    <script src="http://localhost:8090/js/app.js"></script>
</head>
<body>
<!--头部-->
<header>
    <div class="back"><a href="/"></a></div>
    <div class="tit">娱乐进行时</div>
    <div class="search"></div>
</header>
<!--内容-->
<div class="contents">
    <div class="content">
        <div class="left">
            <ul>
              <%for(var i=0;i<lists.length;i++){%>
                 <li>
                     <a href="/show/<%=lists[i].id%>">
                         <img src="http://localhost:8090/img/<%=imgs[0].aimg.split(";")[0]%>" alt="">
                         <div class="mask"><%=lists[i].atitle%></div>
                     </a>
                 </li>
               <%}%>
            </ul>
        </div>
        <div class="right">
            <ul>
                <%for(var i=0;i<lists.length;i++){%>
                <li>
                    <a href="/show/<%=lists[i].id%>">
                        <img src="http://localhost:8090/img/<%=imgs[0].aimg.split(";")[0]%>" alt="">
                        <div class="mask"><%=lists[i].atitle%></div>
                    </a>
                </li>
                <%}%>
            </ul>
            <!--<ul>-->
                <!--<li>-->
                    <!--<a href="app3.html">-->
                        <!--<img src="img/ban125.jpg" alt="">-->
                        <!--<div class="mask">《爸爸4》假人挑战 卡通变装萌得停不下来</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="app3.html">-->
                        <!--<img src="img/ban124.jpg" alt="">-->
                        <!--<div class="mask">郑爽貌似消失一个月 要为爱退出娱乐圈</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="app3.html">-->
                        <!--<img src="img/ban123.jpg" alt="">-->
                        <!--<div class="mask">“宠妻狂魔”张杰上线！谢娜夫妇互动甜到齁</div>-->
                    <!--</a></li>-->
                <!--<li>-->
                    <!--<a href="app3.html">-->
                        <!--<img src="img/ban122.jpg" alt="">-->
                        <!--<div class="mask">陈乔恩自责谈乔任梁失控:对不起 太没出息</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="app3.html">-->
                        <!--<img src="img/ban121.jpg" alt="">-->
                        <!--<div class="mask">甜馨收到男神王源的礼物？爱不释手一脸开心</div>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>

    <!--footer-->
    <div class="footer">
        <div class="foot foot1">
            <a href="">首页</a>
        </div>
        <div class="foot foot2">
            <a href="">论坛</a>
        </div>
        <div class="foot foot3">
            <a href="">关注</a>
        </div>
        <div class="foot foot4">
            <a href="">我的</a>
        </div>
    </div>


</body>
</html>