<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1><%=shows[0].atitle%></h1>-->
<!--<img src="/img/<%=shows[0].aimg%>" alt="">-->
<!--<p>-->
    <!--<%=shows[0].acon%>-->
<!--</p>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>内容页</title>
    <link rel="stylesheet" href="http://localhost:8090/css/common.css">
    <link rel="stylesheet" href="http://localhost:8090/css/app3.css">
    <script src="http://localhost:8090/js/jquery.js"></script>
    <script src="http://localhost:8090/js/app.js"></script>
</head>
<body>
<header>
    <div class="back"><a href="/"></a></div>
    <div class="tit">新闻详情</div>
    <div class="search"></div>
</header>
<div class="content">
    <div class="title">
        <p><%=shows[0].atitle%></p>
        <span>凤凰网娱乐讯</span>
    </div>
    <div class="banner"><img src="http://localhost:8090/img/<%=shows[0].aimg.split(";")[0]%>" alt=""></div>
    <div class="text">
        <p><%=shows[0].acon%></p>
        <div class="error">
            <span>我要投诉</span>
            <span>阅读量1230</span>
        </div>
    </div>
    <div class="share">
        <span class="share-tit">分享</span>
        <ul class="share-con">
            <li>
                <a href="">
                    <img src="http://localhost:8090/img/wxhy.png" alt="">
                    <span>微信好友</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://localhost:8090/img/pyq.png" alt="">
                    <span>微信朋友圈</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://localhost:8090/img/qq.png" alt="">
                    <span>QQ好友</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://localhost:8090/img/more.png" alt="">
                    <span>更多</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tuijian">
        <span class="tuijian-tit">推荐阅读</span>
        <ul>
            <li>
                <a href="">
                    <div class="tj-left"><img src="http://localhost:8090/img/tj1.jpg" alt=""></div>
                    <div class="tj-right"><p>小米粒被妈妈伊能静抱在怀里，这笑容太治愈了</p></div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tj-left"><img src="http://localhost:8090/img/tj2.jpg" alt=""></div>
                    <div class="tj-right"><p>刘雯维密秀后变身吃货 网友：终于可以吃肉啦！</p></div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="tj-left"><img src="http://localhost:8090/img/tj3.jpg" alt=""></div>
                    <div class="tj-right"><p>黄子韬恐高被部队治好 还逆袭成神枪手</p></div>
                </a>
            </li>
        </ul>
    </div>
    <div class="comment"></div>
</div>
<div class="footer">
    <span>评论:</span>
    <input type="text" name="comment">
    <input type="submit" value="发送" name="send">
</div>





</body>
</html>